body {
    background:#C0C0DC;
    display: flex;
    justify-content: center;
}
.container {
    background: white;
    max-width: 400px;
    width: 100%;
    max-height: 700px;
    margin-left: 150px;
    box-shadow:0 0 8px grey;
    border-radius: 10px 10px 10px 10px;
}
.first-pg {
    width: 400px;
    height: 600px;
    background-image:url('https://i.pinimg.com/736x/b8/09/22/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    box-shadow:0 0 8px grey;
    border-radius: 10px 10px 200px 200px;
}
h1 {
    padding-top: 95px;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
p {
    display: flex;
    padding-left: 15px;
    margin-top: 30px;
    text-align-last: center;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.sign {
    margin-top: 5px;
    background: white;
    display: flex;
    justify-content: space-around;
    height: 85px;
    width: 400px;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px 10px 10px 10px;
}

.btn-sign {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #748194;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}
.btn-sign.is-active {
    color: #e9a1dd;
    box-shadow: 1px 3px 20px 0 rgb(177, 175, 165);
}

/* Form */
form {
    margin: -20px;
}
.form-container {
    width: 400px;
    height: 485px;
}
.form-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: #748194;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    height: 40px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(157, 189, 219, 0.253);
    border: none;
    border-radius: 10px;
}
.sign-up-text {
    padding-top: 90px;
    padding-bottom: 60px;
    color: #e9a1dd;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.displaynone {
    display: none;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60px;
    background: #e9a1dd;
    border-color: #e9a1dd;
    color: white;
    font-weight: bold;
    margin-top: 35px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
}
.button_title {
    background-color: rgb(223, 219, 219);
    border:lightblue;
    border-radius: 10px;
}
.button_check_mark {
    content: "\2713";
    color: green;
}
/* .reg {
    position: relative;
    bottom: 10px;
} */
.btn-sing-in {
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}






#fountainTextG{
	width:234px;
	margin:auto;
}

.bubblingG {
	text-align: center;
	width:80px;
	height:50px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 5px;
	margin: 25px auto;
	background: #574f4f;
	border-radius: 50px;
		-o-border-radius: 50px;
		-ms-border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
	animation: bubblingG 1.3s 2s;
		-o-animation: bubblingG 1.3s infinite alternate;
		-ms-animation: bubblingG 1.3s infinite alternate;
		-webkit-animation: bubblingG 1.3s infinite alternate;
		-moz-animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.39s;
		-o-animation-delay: 0.39s;
		-ms-animation-delay: 0.39s;
		-webkit-animation-delay: 0.39s;
		-moz-animation-delay: 0.39s;
}



@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#000000;
		transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#FFFFFF;
		transform: translateY(-21px);
	}
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 50px;
    margin: 0 auto;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 2s ease-in-out;
    -webkit-animation: dash 2s ease-in-out;
  }
  
  .spin {
    animation: spin 2s;
    -webkit-animation: spin 2s;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
  }

  
  @-webkit-keyframes dash {
   0% {
     stroke-dashoffset: 1000;
   }
   100% {
     stroke-dashoffset: 0;
   }
  }
  
  @keyframes dash {
   0% {
     stroke-dashoffset: 1000;
   }
   100% {
     stroke-dashoffset: 0;
   }
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  